@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Zen+Maru+Gothic&display=swap');
/* 全体 */
body {
	background-color: rgb(128, 128, 255); /* 背景色  */
	text-align: center; /* 中央寄せ */
    min-width: 900px; /* 最小幅 */
	margin: 0;
	font-family: "M PLUS 1p", sans-serif;
	font-weight: 600;
	font-style: normal;
	color: rgb(0, 0, 64);
}
/* ヘッダー、ナビゲーションメニュー、フッター */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(255, 255, 255); /* 背景色 */
	color: rgb(0, 0, 64); /* 文字色 */
	padding-top: 2px; /* 内側余白(上) */
	z-index: 1000;
}

header img {
	margin-top: 0.2em;
}

/* ヘッダー内見出し */
header h1 {
	font-size: 3.0em;
	margin: 0 auto;
	font-style: italic;
	font-weight: 900 !important;
}
/* 仕切り線 */
hr {
	border-top: 2px dashed #7d8bae;
}
/* メイン */
main {
	margin-top: 8em;
	padding: 20px;
}
/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid  rgb(181, 255, 55);
}
/* 表 */
table {
    margin: 5px auto;
    min-width: 800px;
}
/* 表見出しセル */
table th {
	background: rgb(181, 255, 55);
}
/* 送信ボタン */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: rgb(208, 169, 80);
	color: rgb(128, 0, 0);
	border: none;
	width:150px;
	cursor: pointer;
	border: rgb(0, 64, 0) 1px;
	border-radius: 8px;
}
/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: rgb(255, 255, 128);
}

.linkNew {
	display: inline-block;
    width: 10em;
    padding: 10px 24px;
    margin: 5em auto;
    background: rgb(255, 128, 0);
    color: #FFF;
    text-decoration: none;
    text-align: center;
	border-radius: 20px;
}

.linkNew:hover{
    background: rgb(255, 0, 0);
}

/*
タブのデザイン
*/
.tabContainer {
	margin-bottom: 0;
	width: 100%;
	background-color:rgb(225, 213, 255);
	box-shadow: 0px 8px 15px rgb(0, 0, 85);
	
}

.linkNav {
	display: inline-block;
    width: 8em;

    padding: 5px 24px;
    margin: 0.5em auto;
    background: rgb(184, 150, 254);
    color: rgb(0, 0, 64);
    text-decoration: none;
    text-align: center;
	border-radius: 10px;
}

.linkNav:hover{
    background: rgb(128, 128, 192);
}

meter {
  /* 全体のサイズと見た目のリセット */
  width: 100%;
  max-width: 70%;
  height: 5em;
  border: none;
}

/* --- Chrome, Safari, Edge --- */
/* メーターの背景部分 */
meter::-webkit-meter-bar {
  background: rgb(192, 192, 192);
  box-shadow: inset  rgb(180, 175, 175);
}

/* メーターの値（ゲージ）部分 */
meter::-webkit-meter-optimum-value {
  background: linear-gradient(90deg, rgb(0, 0, 160) 0%, rgb(0, 0, 160) 100%);
}


meter::-webkit-meter-suboptimum-value {
  background: rgb(0, 128, 0); /* やや低い・高いときの色 */
}

meter::-webkit-meter-even-less-good-value {
  background: #f44336; /* 良くないときの色 */
}

/* --- Chrome, Safari, Edge --- */
/* メーターの背景部分 */
meter::-webkit-meter-bar {
  background: rgb(192, 192, 192);
  box-shadow: inset  rgb(180, 175, 175);
}

/* メーターの値（ゲージ）部分 */
meter::-webkit-meter-optimum-value {
  background: linear-gradient(90deg, rgb(0, 0, 160) 0%, rgb(0, 0, 160) 100%);
}


meter::-webkit-meter-suboptimum-value {
  background: rgb(0, 128, 0); /* やや低い・高いときの色 */
}

meter::-webkit-meter-even-less-good-value {
  background: rgb(255, 0, 0); /* 良くないときの色 */
}


/*
ダッシュボードの一覧表
*/
.dashBoadMeter {
  display: flex;
  /* 全体のサイズと見た目のリセット */
  width: 20em;
  margin: 0 0 0 0;
  padding: 0;
  height: 4em;
  border: none;
}

/* メーターの値（ゲージ）部分 */
.dashBoadMeter::-webkit-meter-optimum-value {
  background: rgb(255, 0, 0);
}


.dashBoadMeter::-webkit-meter-suboptimum-value {
  background: rgb(255, 128, 0); /* やや低い・高いときの色 */
}

.dashBoadMeter::-webkit-meter-even-less-good-value {
  background: rgb(0, 128, 0); /* 良くないときの色 */
}


h2 {
	line-height: 0.5em;
	font-size: 2.5em;
	font-weight: bold;
}

#balance {
	font-size: 1.8em;
	font-weight: bolder;
	color: rgb(0, 0, 255);
}

#income {
	font-size: 1.5em;
	font-weight: bolder;
	color: rgb(0, 180, 30);
}

#maxPrice, #maxItem {
	font-size: 1.5em;
	font-weight: bolder;
	color: rgb(255, 0, 35);
}

.buttonContainer {
	margin: 0 auto;
	width: 	90%;
}

.linkButton{
	/*autoにすると文字数に応じて
	きれいに幅が決まる
	画面上でボタン単位で改行される。
	*/
    width: auto;
	height: 3em;
    padding: 0 0.8em;
    margin: 0.4em;
    background: rgb(255, 128, 0);
    color: #FFF;
    text-decoration: none;
	font-size: 1.5em;
	border-radius: 0 20px;

}
.linkButton:hover{
    background: rgb(255, 0, 0);
}

.linkAdd {
    width: 50px;
    padding: 10px 64px;
    margin: 2em 2em 5em 2em;
    background: rgb(255, 128, 0);
    color: #FFF;
    text-decoration: none;
    text-align: center;
	border-radius: 20px;
}
.linkAdd:hover{
    background: rgb(255, 0, 0);
}

.alertView {
	font-size: 2em;
}

.status {
	font-size: 1.5em;
}

/*各カードの要素を作る*/
.viewContainer {
	scroll-margin-top: 10em;
	background-color: rgb(255, 253, 242);
	border-radius: 15px;
	margin: 3em 10em 0 10em; 
	padding-top: 2em;
	padding-bottom: 3em;
	align-items: center;
	box-shadow: 10px 10px 15px rgb(0, 113, 215);
}




/*
カレンダー分
*/
#calendar {
	max-width: 900px;
	margin: 40px auto;
}


/*モーダルの表示*/
.modal-checkbox {
  display: none;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  transform: translate(50%, -50%);
}

.modal-wrapper {
  position: relative;
  width: 80%;
  max-width: 500px;
  max-height: 70%;
  padding: 20px;
  margin: auto;
  overflow: scroll;
  background-color: #FEFEFE;
  border-radius: 5px;
}

.modal-content h1 {
  margin: 0;
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -0.02em;
}

.modal-checkbox:checked + .modal {
  display: flex;
}

/*モーダルの文字の見た目修正*/
#itemTitle {
	font-size: 2.5em;
	color: rgb(0, 0, 255);
	
}

#modalTable {
	margin: 5px auto;
	min-width: 300px;
	font-size: 1.5em;
}

.modal a {
	display: inline-block;
	width: 10em;
    padding: 10px 20px;
    margin: 3em 2em 2em 2em;
    background: rgb(255, 128, 0);
    color: #FFF;
    text-decoration: none;
    text-align: center;
	border-radius: 20px;
}
.modal a:hover{
    background: rgb(255, 0, 0);
}

input, select {
	display: inline-block;
	width: 20em;
    padding: 5px 20px;
    margin: 1em auto;
    background: rgb(255, 243, 198);
    color: rgb(128, 0, 0);
    text-decoration: none;
    text-align: center;
	border-radius: 10px;
}

.file-button::file-selector-button {
	display: inline-block;
	width: 10em;
    padding: 10px 20px;
    margin: 0 auto;
    background: rgb(255, 128, 0);
    color: #FFF;
    text-decoration: none;
    text-align: center;
	border-radius: 20px;
	border: none;
}
.file-button::file-selector-button:hover {

    background: rgb(255, 0, 0);
    color: #FFF;

}

.genrePriceView {
	font-size: 2.5em;
}

