<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>科目追加</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<h1>
			<div th:replace="~{commonIcon}"></div>
			科目追加
		</h1>
		<!--タブを作る-->
		<div th:replace="~{tabContainer}"></div>
	</header>
		
	<hr>
	<main>
		<div class="viewContainer">
			<h3>計上に使用する勘定科目を追加します</h3>
	
			<form action="/genres/add" method="post">
				<table border="1">
					<tr>
					<th>科目名</th>
						<td>
							<input type="text" name="genreName" th:value="${setSubject}">
						</td>
					</tr>
					<tr>
						<th>収入</th>
						<td>
							<input type="radio" name="isIncome" value="false" checked>出金<br>
							<input type="radio" name="isIncome" value="true">入金
						</td>
					</tr>
					<tr>
						<th>備考</th>
						<td>
							<input type="text" name="comments" th:value="${setComment}">
						</td>
					</tr>
	
				</table>
				<button>登録</button>
			</form>
		</div>
		<div th:replace="~{footer}"></div>
	</main>

</body>
</html>