<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規計上</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<h1>計上画面</h1>
		<!--タブを作る-->
		<div th:replace="~{tabContainer}"></div>
	</header>
	<hr>
	<main>
		<div class="viewContainer">
			<h3>新しい支出情報を入力します。</h3>
	
			<form action="/items/add" method="post" enctype="multipart/form-data">
				<table border="1">
					<tr>
						<th>日付</th>
						<td>
							<input type="date" name="addDate" th:value="${setAddDate}">
						</td>
					</tr>
					<tr>
						<th>件名</th>
						<td>
							<input type="text" name="itemName" th:value="${setItemName}">
						</td>
					</tr>
					<tr>
						<th>科目</th>
						<td>
							<select name="genreId"]>
								<option th:each="genre:${genres}"
									th:text="|${genre.id} ${genre.genreName}|"
									th:value="${genre.id}"></option>
							</select>
						</td>
					</tr>
					<tr>
					<th>金額</th>
						<td>
							<input type="text" name="price" th:value="${setPrice}">
						</td>
					</tr>
					<tr>
						<th>コメント</th>
							<td>
								<input type="text" name="comment" th:value="${setComment}">
							</td>
						</tr>
					<tr>
						<th>領収書</th>
						<td>
							<input type="file" name="imageFile" class="file-button">
						</td>
					</tr>	
				</table>
				<button>登録</button>
			</form>
		</div>
	</main>

</body>
</html>