<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>カレンダー表示</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css" rel="stylesheet">

</head>

<body>
	<header>
		<h1>日別利用実績</h1>
	</header>
	<div class="viewContainer">
		<div id="calendar"></div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.15/locales-all.global.min.js"></script>
	
	<!--モーダルで詳細 ボタンはJSで発行-->
	<input type="checkbox" id="modalToggle" class="modal-checkbox">
	<div class="modal" id="modal">
	  <div class="modal-wrapper">
	    <label for="modalToggle" class="close">&times;</label>
	    <div class="modal-content">
	      <h1 id="itemTitle">例：家賃</h1>
	      <p>
			<table border="1" id="modalTable">
				<tr>
					<th>科目名</th><td id="genreTitle">費用</td>
				</tr>
				<tr>
					<th>金額</th><td id="priceInfo"></td>
				</tr>
				<tr>
					<th>備考</th><td id="commentView">費用</td>
				</tr>
			</table>
			<a id="reciptView" href="#">領収書を表示</a>
		</p>
	    </div>
	  </div>
	</div>
	
	<script th:inline="javascript">
		
		document.addEventListener('DOMContentLoaded', function () {
			var calendarEl = document.getElementById('calendar');
			
			let rowItems = /*[[${items}]]*/ [];
					    
						// 表示を変数にする。
						let calenderView = rowItems.map(function(item) {
							return {
								title: item.itemName, 
								start: item.addDate,
								// HTMLに渡す情報をここで定義			
								extendedProps: {
								        itemName: item.itemName,
								        genreName: item.genre.genreName,
								        price: item.price,
										comment: item.comment,
										imagePath: item.reciptImage
								      }
							};
						});

			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				locale: 'ja',
				events: calenderView,
				
				// モーダルの展開
				eventClick: function(info) {
		      
			      // モーダルを開く（チェックボックスやlabelのfor属性を利用する場合）
			      document.getElementById('modalToggle').checked = true;
				 
				  // 変数からとってきた値をHTMLのモーダルに渡す処理
				  const GET_ITEM_NAME = info.event.extendedProps.itemName;
				  const GET_GENRE_NAME = info.event.extendedProps.genreName;
				  const GET_PRICE = info.event.extendedProps.price;
				  const GET_COMMENT = info.event.extendedProps.comment;
				  const GET_IMAGE = info.event.extendedProps.imagePath;
				
				  // DOMを用いて表示を行う
				  const ITEM_TITLE = document.querySelector("#itemTitle");
				  ITEM_TITLE.innerHTML = GET_ITEM_NAME;
				  
				  const GENRE_TITLE = document.querySelector("#genreTitle");
				  GENRE_TITLE.innerHTML = GET_GENRE_NAME;
				  
				  const PRICE_INFO = document.querySelector("#priceInfo");
				  PRICE_INFO.innerHTML = GET_PRICE;
				  
				  const COMMENT_VIEW = document.querySelector("#commentView");
				  if (GET_COMMENT === "") {
					COMMENT_VIEW.innerHTML = "コメントはありません"
				  } else {
				  	COMMENT_VIEW.innerHTML = GET_COMMENT;
				  }
				  
				  const RECIPT_LINK = document.getElementById('reciptView');
				  
				  if (GET_IMAGE == null) {
					RECIPT_LINK.href = "";
					RECIPT_LINK.innerHTML = "領収書はありません"		
				  } else {
				 	RECIPT_LINK.href = GET_IMAGE;
				  }
			    }
			});
			
			
			calendar.render();
		});
		
		
		
	</script>
</body>

</html>