<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MONEY-ARROWS</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<h1>
			<div th:replace="~{commonIcon}"></div>
			科目情報更新
		</h1>
		<!--タブを作る-->
		<div th:replace="~{tabContainer}"></div>
	</header>
	
	<main>
		
		<div id="record-list" class="viewContainer">
			<p class="status">科目一覧</p>
			<p style="color:red;">
				変更・削除した場合は<br>
				過去の実績の訂正を行う必要があります。
			</p>
			<table border="1">
				<tr>
					<th>登録ID</th>
					<th>科目</th>
					<th>入金科目</th>
					<th>備考</th>
					<th>更新</th>
					<th>削除</th>
				</tr>
				<tr th:each="genre:${genres}">
					<!--表の商品へのリンク付けはThymeleafのタグ外書き込みで対応可能-->
					<td th:text="${genre.id}"></td>
					<td th:text="${genre.genreName}"></td>
					<td th:text="${genre.isIncome}"></td>
					<td th:text="${genre.comments}"></td>
					<td>
						<form th:action="@{/genres/{genreId}/edit(genreId=${genre.id})}" method="get">
							<button>更新</button>
						</form>
					</td>
					<td>
						<form th:action="@{/genre/{genreId}/delete(genreId=${genre.id})}" method="post">
							<button>削除</button>
						</form>
					</td>
				</tr>
			</table>
			<a href="/genres/add" class="linkAdd">科目の追加</a>
		</div>
	</main>
		
</body>
</html>