<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MONEY-ARROWS</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1>計上履歴照会</h1>
	
	<a href="/items/add">新規計上</a>
		<table border="1">
			<tr>
				<th>日付</th>
				<th>名前</th>
				<th>科目</th>
				<th>金額(円)</th>
				<th>コメント</th>
				<th>更新</th>
				<th>削除</th>
			</tr>
			<tr th:each="item:${items}">
				<!--表の商品へのリンク付けはThymeleafのタグ外書き込みで対応可能-->
				<td th:text="${item.addDate}"></td>
				<td th:text="${item.itemName}"></td>
				<td th:text="${item.genre.genreName}"></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.comment}"></td>
				<td>
					<form th:action="@{/items/{itemId}/edit(itemId=${item.id})}" method="get">
						<button>更新</button>
					</form>
				</td>
				<td>
					<form th:action="@{/items/{itemId}/delete(itemId=${item.id})}" method="post">
						<button>削除</button>
					</form>
				</td>
			</tr>

		</table>
		
</body>
</html>