<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<header>
		<h1>
			<div th:replace="~{commonIcon}"></div>
			ログイン
		</h1>
	</header>
	<main>
		<div class="viewContainer">
			<br> <span th:text="${message}" style="color: red"></span>
			<form action="/login" method="post">
				<table>
					<tr>
						<th>メールアドレス</th>
						<td><input type="text" name="email" placeholder="メールアドレス"></td>
					</tr>
					<tr>
						<th>パスワード</th>
						<td><input type="password" name="password" placeholder="パスワード"></td>
					</tr>
				
				</table>
				<br><button>ログイン</button>
				
			</form>
			<a href="/register" class="linkNew">登録はこちら</a>
		</div>
	</main>
</body>
</html>